<div class="reveal-modal small">
  {{yield}}

  <div class="edited-by">
    {{last_edited_by.name}}
  </div>
  <a class="button tiny right" {{action 'close'}}>Close</a>
</div>

<div class="reveal-modal-bg"></div>
