// -----------------------------------
// Container
// -----------------------------------

.users {
  background: transparent;

  p { margin-top: 10px; }

  @media screen and (min-width: 640px) {
    padding: 18px 14px 0;
    border: 1px solid @border;
    border-top: none;
    background: @userBackground;
  }
}

.user-edit {
  .active {
    background: @userActiveButton;
  }
}

.user {
  padding: 10px;
  border: 1px solid @border;
  background: @userBackground;

  &.highlight { box-shadow: 0 0 2px red; }

  h4, h6 { color: @black; }

  &.editable {
    cursor: pointer;
    transition: box-shadow ease-in 0.2s;

    &:hover { box-shadow: 0 0 4px 1px @userHover; }
  }

  .back {
    color: @ashGray;
    font-size: 12px;
    line-height: 50px;
    text-align: right;
  }

  .name {
    margin: 0;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: @sans-serif;
  }

  // Hack to get a clean border with foundation
  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lighten(@border, 10%);
  }

  .avatar {
    padding: 1px;
    border-radius: 2px;
    border: 1px solid lighten(@border, 8%);

    img {
      display: block;
      width: 100%;
    }
  }

  .details h6 {
    margin: 0;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }
}
