// -----------------------------------
// Typography
// -----------------------------------
@sans-serif: 'Titillium Web', sans-serif;

// -----------------------------------
// Background Settings
// -----------------------------------
@maroon: #400000;

// -----------------------------------
// Border Settings
// -----------------------------------
@border: #d4d4d4;

// -----------------------------------
// Font Colors
// -----------------------------------
@black: #444;
@ashGray: #a9a7a6;


// -----------------------------------
// Division Settings
// -----------------------------------
@tabHover: #faf5ea;
@currentTab: #fff;
