// -----------------------------------
// Typography
// -----------------------------------
@sans-serif: 'Titillium Web', sans-serif;

// -----------------------------------
// Background Settings
// -----------------------------------
@headerTop: lighten(@headerBottom, 20%);
@headerBottom: #111;

// -----------------------------------
// Border Settings
// -----------------------------------
@border: #a6a6a6;

// -----------------------------------
// Font Colors
// -----------------------------------
@black: #444;
@ashGray: #a9a7a6;

// -----------------------------------
// Division Settings
// -----------------------------------
@tabHover: #fdf5ea;
@currentTab: #fff;

// -----------------------------------
// User Settings
// -----------------------------------
@userHover: darken(@ashGray, 10%);
@userBackground: #f3f2f3;
@userActiveButton: darken(#008cba, 10%);
