doctype html
html(lang="en")
  head
    title= "Stalker"
    meta(name="authorization", content="#{token}")
    link(rel="stylesheet", src="/assets/stalker.css")
    script(src="/assets/vendor.js")
    script(src="/assets/templates.js")
    script(src="/assets/stalker.js")

  body
