doctype html
html(lang="en")
  head
    title= "Stalker"
    link(rel="stylesheet", type="text/css", src="/assets/stylesheets/bundle.css")
    script(src="/assets/javascript/bundle.js")

  body
    .login
      a(href="/auth/login") Login
