doctype html
html(lang="en")
  head
    title= "Stalker"
    link(rel="stylesheet", href="/assets/stalker.css")
    script(src="/assets/vendor.js")
    script(src="/assets/templates.js")
    script(src="/assets/stalker.js")

    meta(name="current-user", content="#{JSON.stringify(user)}")
    meta(name="divisions", content="#{JSON.stringify(divisions)}")
  body
