doctype html
html(lang="en")
  head
    title= "Stalker"
    link(rel="stylesheet", href="/assets/stalker.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600')

  body
    header
      nav.top-bar
        a(href="http://txssc.txstate.edu")
          h1.logo-white TxSSC

    .row
      .large-6.small-12.large-centered.columns
        h1.logo TxSSC

        p Stalker is a status board for multi-division organizations. <a href="http://txssc.txstate.edu">TxSSC</a>.

        a.button.large.expand(href='/auth/login') Login with TxSSC
