doctype html
html(lang="en")
  head
    title= "Stalker"
    link(rel="stylesheet", href="/assets/stalker.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500')

  body
    header(role="complementary")
      nav.top-bar
        ul.title-area
          li.name
            h1.logo
              a(href="/") Stalker

    main(role="main")
      if flash.length
        .alert-box.alert.text-center
          = flash.join(', ')

      .row
        .large-6.medium-8.small-12.small-centered.large-centered.columns
          h1.logo-txssc TxSSC

          p Stalker is a status board for multi-division organizations. <a href="http://txssc.txstate.edu">TxSSC</a>.

          a.button.large.expand(href='/auth/login') Login with TxSSC
