doctype html
html(lang="en")
  head
    title= "Stalker"
    link(rel="stylesheet", type="text/css", src="/assets/stylesheets/bundle.css")

  body
    .container
      h1 Stalker

      .login
        a(href="/auth/login") Login with TxSSC
