{{#modal-dialog action="closeModal"}}
  <form>
    <fieldset>
      <legend>Create Division</legend>

      <div class="row">
        <div class="small-2 large-2 columns">
          <label class="right inline">Name</label>
        </div>

        <div class="small-10 large-10 columns">
          {{focus-input value=name type="text" placeholder="Animaniacs"}}
        </div>
      </div>
    </fieldset>
  </form>
{{/modal-dialog}}
