<div class="row">
  <div class="small-12 large-12 columns">
    <div class="users">
      {{#if hasUsers}}
        <ul class="small-block-grid-1 large-block-grid-2">
          {{#each users}}
            <li>
              {{view Stalker.UserShowView contentBinding='this'}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>There are no users to see here, you might start by assigning users to a group on the {{#link-to 'index'}}home{{/link-to}} page&hellip;</p>
      {{/if}}
    </div>
  </div>
</div>
