{{#if hasUsers}}
  <ul class="small-block-grid-1 large-block-grid-2">
    {{#each user in users itemController="user_show"}}
      <li>
        {{view Stalker.UserShowView contentBinding='user'}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>There are no users to see here, you might start by assigning users to a group on the {{#link-to 'index'}}home{{/link-to}} page&hellip;</p>
{{/if}}
