<div class="row">
  <div class="small-12 large-12 columns">
    <div class="users">
      {{#if hasUsers}}
        <ul class="small-block-grid-1 large-block-grid-2">
          {{#each itemController="user_show"}}
            <li>
              {{view Stalker.UserShowView contentBinding='this'}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>There are no users to see here, someone should probably login&hellip; or something is drastically wrong here!</p>
      {{/if}}
    </div>
  </div>
</div>
